{% extends 'main/base.html' %}
{% block title %}Home Page{% endblock %}
{% block content %}

<div class="users_info">
    {% if info.user_role == 'Teacher' and info.sorted_gradings|length > 0 %}
    <br>
    <h1>Вам необходимо заполнить:</h1>
    <br>

    {% include 'main/output.html' %}

    {% elif info.user_role == 'Inspector' %}
    <br>
    <h1>Вам необходимо проверить:</h1>
    <br>

    {% include 'main/output.html' %}

    {% elif info.user_role == 'Teacher' and info.sorted_gradings|length == 0 %}
    <br>
    <h1>На данный момент записей для Вас нет.</h1>
    <br>

    {% else %}
    <br>
    <h1>Ошибка. У вас не настроена роль. Обратитесь к администратору.</h1>
    <br>
    {% endif %}
</div>
{% endblock %}