{% load static %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script src="{% static 'js/scripts.js' %}"></script>

<form method="POST" action="{% url 'save-form' %}">
    {% csrf_token %}
    <table border="3">
        <tr>
            <th><a href="?sort_by=name&order={{ current_order }}">Наименование</a></th>
            <th><a href="?sort_by=normative&order={{ current_order }}">Норматив</a></th>
            <th><a href="?sort_by=work_done&order={{ current_order }}">Выполненная работа</a></th>
            <th><a href="?sort_by=points&order={{ current_order }}">Баллы</a></th>

            {% if info.user_role == 'Inspector' %}
            <th><a href="?sort_by=responsible&order={{ current_order }}">Ответственный за ввод данных</a></th>
            <th><a href="?sort_by=faculty&order={{ current_order }}">Факультет</a></th>
            {% endif %}

            <th><a href="?sort_by=status&order_stage={{ current_stage|add:1 }}">Статус</a></th>
        </tr>

        {% if info.user_role == 'Teacher' %}
            {% for table in info.sorted_gradings %}
            <tr>
                <th>{{ table.used_standard }}</th>
                <th>{{ table.used_standard.standard_in_points }}</th>
                <th><textarea
                        name="work_done-!SePaRaToR!-{{ table.user.user.username }}-!SePaRaToR!-{{ table.used_standard }}"
                        placeholder="{{ table.work_done }}"></textarea></th>
                <th><input type="number"
                           name="points-!SePaRaToR!-{{ table.user.user.username }}-!SePaRaToR!-{{ table.used_standard }}"
                           placeholder="{{ table.rating }}"
                           step="0.01"></th>
                <th>{{ table.get_status_display }}</th>
            </tr>
            {% endfor %}
        {% elif info.user_role == 'Inspector' %}
            {% for table in info.sorted_controlled_teachers_gradings %}
            <tr>
                <th>{{ table.used_standard }}</th>
                <th>{{ table.used_standard.standard_in_points }}</th>
                <th><textarea
                           name="work_done-!SePaRaToR!-{{ table.user.user.username }}-!SePaRaToR!-{{ table.used_standard }}"
                           placeholder="{{ table.work_done }}"></textarea></th>
                <th><input type="number"
                           name="points-!SePaRaToR!-{{ table.user.user.username }}-!SePaRaToR!-{{ table.used_standard }}"
                           placeholder="{{ table.rating }}"
                           step="0.01"></th>
                <th>{{ table.user.user.first_name }}  {{ table.user.user.last_name }}</th>
                <th>{% for teacher in info.controlled_users %}
                        {% if teacher.user.profile == table.user %}
                            {{ teacher.faculties|join:", " }}
                        {% endif %}
                    {% endfor %}
                </th>
                <th><select id="status" name="status-!SePaRaToR!-{{ table.user.user.username }}-!SePaRaToR!-{{ table.used_standard }}">
                    {% for value, display in status_choices %}
                        <option value="{{ value }}"
                                {% if value == table.status %} selected {% endif %}>
                            {{ display }}
                        </option>
                    {% endfor %}
                </select></th>
            </tr>
            {% endfor %}
    {% endif %}
    </table>
    <button type="submit">Сохранить</button>
</form>

<form method="POST" action="{% url 'approve-all' %}">
    {% csrf_token %}
    {% if info.user_role == 'Inspector' %}
        {% for table in info.sorted_controlled_teachers_gradings %}
            <input type="hidden" name="grading_ids" value="{{ table.id }}">
        {% endfor %}
    <button type="submit">Одобрить все</button>
    {% endif %}
</form>
