<div class="style">
    <style>
    summary {
            white-space: nowrap; /* Оставляем текст в одной строке */
            overflow: hidden; /* Скрываем переполнение */
            text-overflow: ellipsis; /* Добавляем троеточие в конце длинного текста */
            font-weight: bold; /* Можно сделать текст жирным для красоты */
            cursor: pointer; /* Курсор меняется на указатель при наведении */
            font-size: 20px;
    }
    table {
        border-collapse: collapse; /* to make lines visible */
        width: 100%;
    }

    th, td {
        padding: 10px; /* cell spacing */
        text-align: left;
        border: 3px solid black; /* border between columns */
    }

    th {
        background-color: #f2f2f2;
    }
    </style>
</div>

<form method="POST" action="{% url 'save-form' %}">
    {% csrf_token %}
    {% if info.user_role == 'Teacher' %}
        <table border="3">
            <tr>
                <th>Наименование</th>
                <th>Норматив</th>
                <th>Выполненная работа</th>
                <th>Баллы</th>
                <th>Статус</th>
            </tr>

            {% for table in info.user_tables %}
            <tr>
                <th>{{ table.grading.used_standard }}</th>
                <th>{{ table.criteria.standard_in_points }}</th>
                <th><input type="text"
                        name="work_done-!SePaRaToR!-{{ table.grading.user.username }}-!SePaRaToR!-{{ table.grading.used_standard }}"
                        placeholder="{{ table.grading.work_done }}"></th>
                <th><input type="number"
                           name="points-!SePaRaToR!-{{ table.grading.user.username }}-!SePaRaToR!-{{ table.grading.used_standard }}"
                           placeholder="{{ table.grading.rating }}"></th>
                <th>{{ table.grading.get_status_display }}</th>
            </tr>
            {% endfor %}
        </table>
    {% elif info.user_role == 'Inspector' %}
        <h2>{{ info.controlled_faculty }}</h2>
        {% for cathedra, teachers in info.controlled_cathedras_users.items %}
        <details>
            <summary>{{ cathedra.cathedra }}</summary>
        <table border="3">
            <tr>
                <th>Наименование</th>
                <th>Норматив</th>
                <th>Выполненная работа</th>
                <th>Баллы</th>
                <th>Ответственный за ввод данных</th>
                <th>Статус</th>
            </tr>

        {% for teacher in teachers %}
            {% for table in teacher.user_tables %}
            <tr>
                <th>{{ table.grading.used_standard }}</th>
                <th>{{ table.criteria.standard_in_points }}</th>
                <th><input type="text"
                           name="work_done-!SePaRaToR!-{{ table.grading.user.username }}-!SePaRaToR!-{{ table.grading.used_standard }}"
                           placeholder="{{ table.grading.work_done }}"></th>
                <th><input type="number"
                           name="points-!SePaRaToR!-{{ table.grading.user.username }}-!SePaRaToR!-{{ table.grading.used_standard }}"
                           placeholder="{{ table.grading.rating }}"></th>
                <th>{{ teacher.user.first_name }}  {{ teacher.user.last_name }}</th>
                <th><select id="status" name="status-!SePaRaToR!-{{ teacher.user.username }}-!SePaRaToR!-{{ table.grading.used_standard }}">
                    {% for value, display in status_choices %}
                        <option value="{{ value }}"
                                {% if value == table.grading.status %} selected {% endif %}>
                            {{ display }}
                        </option>
                    {% endfor %}
                </select></th>
            </tr>
            {% endfor %}
        {% endfor %}
        </table>
        <button type="submit">Сохранить</button>
        </details>
    {% endfor %}
    {% else %}
        <h1>Ошибка. У вас не настроена роль. Обратитесь к администратору.</h1>
    {% endif %}
</form>